.itsaWrap-list-table .img-thumb{
  width: 140px;
}

.itsaWrap-list-table .row-description > span{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}